/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
  --font-monda: 'Monda', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --color-rf-blanco: #ffffff;
  --color-rf-verde: #3b4f36;
  --color-rf-verde-oliva: #426d39;
  --color-rf-naranja: #bb6c2a;
  --color-rf-naranja-oscuro: #7c461b;
  --color-rf-gris-oscuro: #3d3d3d;
  --color-rf-gris-claro: #dcdcdc;
}
@media (min-width: 768px) {
  .md\:flex { display: flex !important; }
  .md\:hidden { display: none !important; }
}
.hidden { display: none; }
@media (max-width: 768px) {
  /* Top bar */
  .top-bar { padding: 8px 16px !important; font-size: 12px !important; }
  .topbar-hide-mobile { display: none !important; }

  /* Navbar */
  .logo-nav { height: 60px !important; }
  .nav-inner { padding: 8px 16px !important; }

  /* Hero */
  .hero-content { padding: 60px 24px 60px 20px !important; }

  /* Stats */
  .grid-4 { grid-template-columns: repeat(2, 1fr) !important; }
  
  /* Proceso */
  .grid-proceso { grid-template-columns: 1fr !important; }
  .flecha-proceso { display: none !important; }
  
  /* Nosotros */
  .grid-2 { grid-template-columns: 1fr !important; }
  
  /* Métricas */
  .section-metricas { padding: 24px 16px !important; }
  .grid-metricas { grid-template-columns: repeat(2, 1fr) !important; }
  .grid-metricas > div { padding: 12px 8px !important; border-right: none !important; }
  .grid-metricas > div p:first-child { font-size: 1.4rem !important; }
  
  /* Servicios */
  .grid-3 { grid-template-columns: 1fr !important; }
  
  /* Footer */
  .grid-footer { grid-template-columns: 1fr !important; }
  
  
}
[id] {
  scroll-margin-top: 150px;
}
/* Animación fade-in up */
.fade-in-up {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-in-up.visible {
  opacity: 1;
  transform: translateY(0);
}